--- 
commands: 
  create_post_dir: 
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
files: 
  /opt/elasticbeanstalk/hooks/appdeploy/post/99_restart_delayed_job.sh: 
    content: |-
        #!/usr/bin/env bash
        EB_APP_PID_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_pid_dir)
        EB_CONFIG_APP_USER=$(/opt/elasticbeanstalk/bin/get-config container -k app_user)
        EB_CONFIG_APP_CURRENT=$(/opt/elasticbeanstalk/bin/get-config container -k app_deploy_dir)
        cd $EB_CONFIG_APP_CURRENT
        chmod -R 0777 lib/ log/	
        su -c "RAILS_ENV=production bundle exec bin/delayed_job --pid-dir=$EB_APP_PID_DIR restart" $EB_CONFIG_APP_USER
    group: root
    mode: "000755"
    owner: root
