option_settings:
 - option_name: BUNDLE_DISABLE_SHARED_GEMS
   value: "1"
 - option_name: BUNDLE_PATH
   value: "vendor/bundle"
packages:
 yum:
  git: []
  patch: []
commands: 
  update_bundler: 
    command: "/opt/rubies/ruby-2.1.2/bin/gem install bundler"
  update_rake: 
    command: "/opt/rubies/ruby-2.1.2/bin/gem install -f rake"
